.navbar {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #718DB8, #92A8C8);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  color: #000;
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#718DB8, #92A8C8);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #FA9D7B, #F98A62);
  right: -30px;
  bottom: -80px;
}

.login-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.login-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(71, 15, 15, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: black;
}

.login-button {
  margin-top: 50px;
  width: 100%;
  background: linear-gradient(#718DB8, #92A8C8);
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.clear-history-button {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  width: 100%;
  background-color: #718DB8;
  color: #000000;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button {
  font-family: "Poppins", sans-serif;
  background-color: #718DB8;
  margin-top: 20px;
  padding: 10px 0;
  color: #080710;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

.login-form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

/* Dit is de login form text: Login here */
.login-form * {
  font-family: "Poppins", sans-serif;
  color: black;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.login-form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.btn-custom {
  background-color: blueviolet !important;
  color: azure !important;
}
.customform {
  height: 200px;
  background-color: goldenrod;
}

.card-footer {
  background-color: blueviolet !important;
}

.btn-customFooter {
  background-color: whitesmoke !important;
  color: black !important;
}

.profile-header {
  height: 200px;
  width: 400px;
  background-color: #FA9D7B;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 60px 35px;
  margin-bottom: 40px;

}
